* {
    font-size: 18px;
    font-family: monospace;
}

body {
    position: relative;
}

a:link { 
    text-decoration: none; 
    color:black;
}

a:visited {
    color:black;
}

.header {
    position: relative;
    max-width: 900px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.fileupload{
    margin: auto;
    border: 1px solid black;
    height: 25px
}

#explore {
    position: absolute;
    right: 120px;
    top: 12px;
}

.edit-account {
    position: absolute;
    left: 275px;
}

#user {
    position: absolute;
    right: 0;
    top: 12px;
}

.post {
    border: 1px solid black;
    border-radius: 1.5%;
    padding: 10px;
    min-width: 800px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 20px;
}

.post-header {
    position: relative;
}

.post-header-user {
    color: black;
    position: absolute;
    left: 80px;
    bottom: 20px;
}

.follow-seperator {
    border: 1px solid black;
}

.follow {
    color: black;
    position: absolute;
    left: 80px;
    bottom: 20px;
}

.post-header-timestamp {
    color: rgb(90, 90, 90);
    position: absolute;
    right: 0;
    bottom: 20px;
}

.follow-button {
    color: rgb(90, 90, 90);
    position: absolute;
    right: 30px;
    bottom: 20px;
}

.follow-indicator {
    color: rgb(90, 90, 90);
    position: absolute;
    right: 100px;
    bottom: 20px;
}

.post-image {
    display: block;
    margin-top: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.profile {
    min-width: 800px;
    max-width: 800px;
    margin: auto;
}

.profile-image {
    width: 394.6px;
}

.new-people {
    border: 1px solid black;
    border-radius: 1.5%;
    padding: 10px;
    min-width: 800px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 20px;
}

.discover-people-header {
    position: absolute;
    left:300px;
}

.explore-people-username {
    padding: 50px 0;  
}

.explore-people-button {
    position: absolute;
    right: 325px;
    bottom: 20px;
}