<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>insta485</title>
</head>
<body>
    <!-- Header: includes a logo and links to access different files -->
    <div class="header">
        <a href="/" id="logo"><img src="/static/images/insta_logo.svg" alt="instagram logo" height="50" width="50"></a>
        <a href="/explore/" id="explore">explore</a>
        <a href="{{ url_for("show_users", user=logname) }}" id="user">{{ logname }}</a>
    </div>

    <div class="post">
        <h1 class="followers-header">Followers</h1>
        {% for user in followers %}
        <div class="follow-seperator">
            <div class="post-header">
                <img src="{{ url_for("get_file", filename=user.filename) }}" alt="{{  user.username }}'s profile picture" height="60" width="60">
                <a href="{{ url_for("show_users", user=user.username) }}" class="post-header-user">{{  user.username }}</a> 
                {% if user.username != logname %}
                    {% if user.following == 1 %}
                        <a class="follow-indicator">following</a>
                        <!-- Unfollow Button -->
                        <form action="/following/?target=/users/{{ logname }}/followers" method="post" enctype="multipart/form-data">
                            <input type="submit" class="follow-button" name="unfollow" value="unfollow"/>
                            <input type="hidden" name="username" value="{{ user.username }}"/>
                            <input type="hidden" name="operation" value="unfollow"/>
                        </form>
                    {% else %}
                        <a class="follow-indicator">not following</a>
                        <!-- Follow Button -->
                        <form action="/following/?target=/users/{{ logname }}/followers" method="post" enctype="multipart/form-data">
                            <input type="submit" class="follow-button" name="follow" value="follow"/>
                            <input type="hidden" name="username" value="{{ user.username }}"/>
                            <input type="hidden" name="operation" value="follow"/>
                        </form>                       
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
</body>
</html>