<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>insta485</title>
</head>
<body>
    <!-- Header: includes a logo and links to access different files -->
    <div class="header">
        <a href="/" id="logo"><img src="/static/images/insta_logo.svg" alt="instagram logo" height="50" width="50"></a>
        <a href="/explore/" id="explore">explore</a>
        <a href="{{ url_for("show_users", user=logname) }}" id="user">{{ logname }}</a>
    </div>
    
    <div class="profile">
        <p><b>{{ user }}</b></p>
        
        {% if user == logname %}
            
                <!-- Logout Button -->
                <form action="/accounts/logout/" method="post" enctype="multipart/form-data">
                <input type="submit" name="logout" value="Logout"/>
                </form>
            
            <a href="{{ url_for("edit_account") }}" id="edit-profile"><b>Edit profile</b></a>
        {% else %}
            {% if user in following %}
            following
                <!-- Unfollow Button -->
                <form action="/following/?target=/users/{{ user }}/" method="post" enctype="multipart/form-data">
                <input type="submit" name="unfollow" value="unfollow"/>
                <input type="hidden" name="username" value="{{ user }}"/>
                <input type="hidden" name="operation" value="unfollow"/>
                </form>
            
            {% else %}
            not following
                <!-- Follow Button -->
                <form action="/following?target=/users/{{ user }}/" method="post" enctype="multipart/form-data">
                    <input type="submit" name="follow" value="follow"/>
                    <input type="hidden" name="username" value="{{ user }}"/>
                    <input type="hidden" name="operation" value="follow"/>
                </form>
            
            {% endif%}
        {% endif%}
        
            {% if posts|length == 1 %}
            1 post
            {% else %}
            {{ posts|length }} posts
            {% endif %}

            {% if followers|length == 1 %}
                <a href="{{ url_for('show_followers', user=user) }}"><b>1 follower</b></a>
            {% else %}
                <a href="{{ url_for('show_followers', user=user) }}"><b>{{ followers|length }} followers</b></a>
            {% endif %}
                <a href="{{ url_for('show_following', user=user) }}"> <b>{{ following|length }} following</b> </a>
        
        <p>{{ fullname[0]['fullname'] }}</p>
        <br>
        
        {% if user == logname %}
            <div class="fileupload">
                <!-- File Upload Button -->
                <!-- <form action="/posts/?target=/users/{{ logname }}/" method="post" enctype="multipart/form-data"> -->
                <form action="{{ url_for('update_posts') }}" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" accept="image/*" required/>
                    <input type="submit" name="create_post" value="upload new post"/>
                    <input type="hidden" name="operation" value="create"/>
                </form>
            </div>
        {% endif %}
        <br>
  
        {% for p in posts %}
        <a href="/posts/{{ p.postid }}/"><img src="{{ url_for("get_file", filename=p.filename) }}" alt="profile image" class="profile-image"></a>
        {% endfor %}
    </div>
</body>
</html>